@media screen and (max-width: 500px) {
  .banner {
    align-items: center;
  }
  .banner a {
    color: inherit;
  }
  .banner .burgerContainer {
    display: flex;
  }
  .banner .burgerContainer .burgerMenu {
    font-size: 32px;
    color: #1D5E3C;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1001;
  }
  .banner .titleBanner .title-banner {
    font-size: 24px;
  }
  .cart {
    position: absolute;
    top: 112px;
    left: 0;
    height: 50vh;
    background-color: rgba(29, 94, 60, 0.5);
    border-radius: 0 0 10px 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    display: none;
  }
  .cart.active {
    display: block;
    transform: translateX(0);
  }
  .ShoppingList {
    max-width: 225px;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
  }
  .ShoppingList .category {
    justify-content: flex-start;
    width: 220px;
    gap: 20px;
  }
  .ShoppingList .category .selectCategory {
    width: 100px;
  }
  .ShoppingList .category button {
    width: 100px;
  }
  .ShoppingList .ulPlant {
    right: 20px;
  }
  .ShoppingList .ulPlant .plant .imagePlant {
    height: 200px;
    width: 200px;
    margin-bottom: -35px;
  }
  .ShoppingList .ulPlant .plant .imagePlant:hover {
    width: 200px;
  }
  .ShoppingList .ulPlant .plant .imagePlant:hover ~ .price {
    transform: translateX(0);
  }
  .ShoppingList .ulPlant .plant .price {
    height: 40px;
    width: 40px;
    left: 160px;
    bottom: 155px;
  }
  .page {
    min-height: none;
  }
  .page .mainImage {
    margin-top: 50px;
  }
  .page .mainImage img {
    width: 375px;
    height: 375px;
    margin: 25px;
  }
  .page .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .page .container .top {
    flex-direction: column;
    justify-content: center;
  }
  .page .container .top .hook {
    text-align: center;
    margin: 25px;
    position: relative;
    top: 0;
    right: 0;
    width: 450px;
  }
  .page .container .top .hook span {
    font-size: 32px;
  }
  .page .container .top .hook .titlePrice {
    margin-bottom: 50px;
    position: relative;
    bottom: 900px;
    left: -40px;
  }
  .page .container .top .hook .titlePrice h1 {
    font-size: 32px;
  }
  .page .container .top .hook .titlePrice p {
    font-size: 24px;
  }
  .page .container .top .hook .sunInfo, .page .container .top .hook .waterInfo {
    margin-bottom: 20px;
  }
  .page .container .top .hook .sunInfo p, .page .container .top .hook .waterInfo p {
    font-size: 24px;
    margin: 10px 0 0 5px;
    width: 400px;
    text-align: left;
  }
  .page .container .top .hook .didUKnow {
    margin: 50px 30px 50px 0;
  }
  .page .container .top .hook .didUKnow .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .page .container .top .hook .didUKnow .text {
    font-size: 18px;
  }
  .page .container .bottom {
    flex-direction: column;
    gap: 20px;
  }
  .page .container .bottom .left {
    width: auto;
  }
  .page .container .bottom .left .selectPlant .ulContaint {
    margin-left: 10px;
  }
  .page .container .bottom .left .selectPlant .ulContaint ul img {
    height: 100px;
    width: 100px;
  }
  .page .container .bottom .left p {
    margin-right: 100px;
  }
  .page .container .bottom .right {
    width: 100vw;
    flex-direction: column;
    margin: 20px 0;
    gap: 50px;
  }
  .page .container .bottom .right .quantityButton .less, .page .container .bottom .right .quantityButton .more {
    height: 75px;
    width: 75px;
    font-size: 32px;
  }
  .page .container .bottom .right .quantityButton .less:hover, .page .container .bottom .right .quantityButton .more:hover {
    font-size: 36px;
  }
  .page .container .bottom .right .quantityButton p {
    height: 75px;
    width: 125px;
    font-size: 32px;
  }
  .page .container .bottom .right .addCart .addCartButton {
    width: 300px;
    height: 75px;
    font-size: 32px;
  }
}

/*# sourceMappingURL=responsive500.css.map */
