@charset "UTF-8";
@media screen and (max-width: 500px) {
  .banner {
    align-items: center;
  }
  .banner a {
    color: inherit;
  }
  .banner .burgerContainer {
    display: flex;
  }
  .banner .burgerContainer .burgerMenu {
    font-size: 32px;
    color: #1D5E3C;
    position: relative;
    right: 20px;
    cursor: pointer;
    z-index: 1001;
  }
  .banner .titleBanner .title-banner {
    font-size: 24px;
  }
  .cart {
    position: absolute;
    top: 112px;
    left: 0;
    height: 90vh;
    background-color: rgba(29, 94, 60, 0.5);
    border-radius: 0 0 10px 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    display: none;
  }
  .cart.active {
    display: block;
    transform: translateX(0);
  }
  .cart .valid {
    width: 130px;
    background-color: rgba(29, 94, 60, 0.5);
  }
  .cart .clear {
    background-color: rgba(29, 94, 60, 0);
  }
  .cart .login .sentence {
    font-size: 14px;
    width: 140px;
  }
  .cart .login .connect {
    position: relative;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background-color: rgba(29, 94, 60, 0.5);
    border: 2px solid white;
    font-size: 12px;
    color: white;
    z-index: 2;
    transition: all 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Ajout d'un espace entre le texte et l'icône */
  }
  .cart .login .connect::before {
    content: "";
    position: absolute;
    height: 35px;
    width: 130px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 1;
  }
  .cart .login .connect:hover::before {
    transform: translateX(0);
  }
  .cart .login .connect:hover {
    color: rgba(29, 94, 60, 0.5);
    width: 130px;
  }
  .cart .login .connect .arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    color: rgba(29, 94, 60, 0.5);
    transform: translateX(-100px); /* Place initiale de la flèche hors du bouton */
    opacity: 0; /* Rend la flèche invisible par défaut */
    transition: transform 0.5s ease, opacity 0.3s ease;
  }
  .cart .login .connect:hover .arrow {
    transform: translateX(50px); /* Déplace la flèche dans le bouton */
    opacity: 1; /* Rend la flèche visible */
    z-index: 1;
  }
  .ShoppingList {
    max-width: 225px;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
  }
  .ShoppingList .category {
    justify-content: flex-start;
    width: 220px;
    gap: 20px;
  }
  .ShoppingList .category .selectCategory {
    width: 100px;
  }
  .ShoppingList .category button {
    width: 100px;
  }
  .ShoppingList .ulPlant {
    right: 20px;
  }
  .ShoppingList .ulPlant .plant .imagePlant {
    height: 200px;
    width: 200px;
    margin-bottom: -35px;
  }
  .ShoppingList .ulPlant .plant .imagePlant:hover {
    width: 200px;
  }
  .ShoppingList .ulPlant .plant .imagePlant:hover ~ .price {
    transform: translateX(25px);
  }
  .ShoppingList .ulPlant .plant .price {
    height: 40px;
    width: 40px;
    left: 160px;
    bottom: 155px;
  }
  .page {
    min-height: none;
  }
  .page .mainImage {
    margin-top: 50px;
  }
  .page .mainImage img {
    width: 325px;
    height: 325px;
    margin: 25px;
  }
  .page .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .page .container .top {
    flex-direction: column;
    justify-content: center;
  }
  .page .container .top .hook {
    text-align: center;
    margin: 25px 5px;
    position: relative;
    top: -50px;
    right: 0;
    width: 400px;
  }
  .page .container .top .hook span {
    font-size: 32px;
  }
  .page .container .top .hook .titlePrice {
    margin-bottom: 50px;
    position: relative;
    bottom: 800px;
    left: -20px;
  }
  .page .container .top .hook .titlePrice h1 {
    font-size: 32px;
  }
  .page .container .top .hook .titlePrice p {
    font-size: 24px;
  }
  .page .container .top .hook .sunInfo, .page .container .top .hook .waterInfo {
    margin-bottom: 20px;
    width: 350px;
  }
  .page .container .top .hook .sunInfo p, .page .container .top .hook .waterInfo p {
    font-size: 16px;
    margin: 10px 0 0 5px;
    text-align: center;
  }
  .page .container .top .hook .didUKnow {
    margin: 50px 30px 50px 0;
  }
  .page .container .top .hook .didUKnow .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .page .container .top .hook .didUKnow .text {
    font-size: 18px;
  }
  .page .container .bottom {
    flex-direction: column;
    gap: 20px;
  }
  .page .container .bottom .left {
    width: auto;
    margin-left: 5px;
  }
  .page .container .bottom .left p {
    margin-left: auto;
  }
  .page .container .bottom .left .selectPlant .ulContaint {
    margin-left: 10px;
  }
  .page .container .bottom .left .selectPlant .ulContaint ul img {
    height: 100px;
    width: 100px;
  }
  .page .container .bottom .left p {
    margin-right: 100px;
  }
  .page .container .bottom .right {
    width: 100vw;
    flex-direction: column;
    margin: 20px 0;
    gap: 50px;
  }
  .page .container .bottom .right .quantityButton .less, .page .container .bottom .right .quantityButton .more {
    height: 75px;
    width: 75px;
    font-size: 32px;
  }
  .page .container .bottom .right .quantityButton .less:hover, .page .container .bottom .right .quantityButton .more:hover {
    font-size: 36px;
  }
  .page .container .bottom .right .quantityButton p {
    height: 75px;
    width: 125px;
    font-size: 32px;
  }
  .page .container .bottom .right .addCart .addCartButton {
    width: 300px;
    height: 75px;
    font-size: 32px;
  }
  .page2 {
    max-width: 350px;
  }
  .page2 .title1 {
    font-size: 24px;
  }
  .page2 .emptyCard {
    font-size: 16px;
  }
  .page2 .reviewOrder .ulReview {
    width: 110%;
  }
  .page2 .reviewOrder .ulReview .review {
    margin: 7px;
  }
  .page2 .reviewOrder .ulReview .review .imagePlant {
    height: 100px;
    width: 100px;
  }
  .page2 .reviewOrder .ulReview .review button {
    margin: 5px;
    width: 100px;
  }
  .page2 .order_form {
    flex-direction: column;
    gap: 50px;
    margin: 20p 0 50px 200px;
  }
  .page2 .order_form h2 {
    font-size: 20px;
  }
  .page2 .order_form .orderSummary .container {
    margin-left: -150px;
  }
  .page2 .order_form .orderSummary .container .title2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .page2 .order_form .orderSummary .container .article, .page2 .order_form .orderSummary .container .tax, .page2 .order_form .orderSummary .container .totale {
    gap: 150px;
  }
  .page2 .order_form .paye .formulaire {
    flex-direction: column;
    gap: 50px;
  }
  .page2 .order_form .submit {
    position: relative;
    right: 225px;
  }
  .loginPage {
    width: 415px;
    max-height: 3637px;
    left: 0;
  }
}

/*# sourceMappingURL=responsive500.css.map */
