@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.banner {
  color: black;
  text-align: right;
  padding: 32px;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: row-reverse;
}
.banner .logo-banner {
  height: 45px;
  width: 45px;
}
.banner .title-banner {
  padding-left: 32px;
}

.cart {
  color: white;
  padding: 10px;
  background-color: #31b572;
  width: 28vw;
  max-width: 230px;
  min-width: 150px;
}
.cart .title-cart {
  padding-bottom: 15px;
}
.cart .ul-cart {
  margin-left: 10px;
  line-height: 1.5;
}
.cart .element {
  opacity: 0;
  margin-left: 5px;
}
.cart span:hover .element {
  opacity: 1;
}
.cart .total-cart {
  padding-top: 15px;
}
.cart button {
  margin-top: 15px;
  padding: 5px;
  width: 125px;
  height: 35px;
  color: white;
  background-color: #31b572;
  border-radius: 10px;
  border: 2px solid white;
}
.cart button:hover {
  font-weight: 600;
}

.ShoppingList {
  margin-left: 30px;
  min-height: 850px;
  width: 100%;
}
.ShoppingList .title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
}
.ShoppingList .category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
  gap: 30px;
}
.ShoppingList .category .selectCategory {
  margin-top: 10px;
  padding-left: 10px;
  height: 30px;
  color: white;
  font-weight: 600;
  background-color: #21794C;
  border-radius: 10px;
  border: none;
}
.ShoppingList .category button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  color: white;
  background-color: #21794C;
  border-radius: 10px;
  border: none;
}
.ShoppingList .category button:hover {
  font-weight: 600;
}
.ShoppingList .ulPlant {
  display: flex;
  width: 105%;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  right: 40px;
  top: 40px;
}
.ShoppingList .ulPlant .plant {
  margin: 25px 30px 50px 30px;
  display: flex;
  flex-direction: column;
}
.ShoppingList .ulPlant .plant .imagePlant {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  margin-bottom: -45px;
  object-fit: cover;
  transition: width 0.2s ease-in-out;
}
.ShoppingList .ulPlant .plant .imagePlant:hover {
  width: 275px;
}
.ShoppingList .ulPlant .plant .imagePlant:hover ~ .price {
  transform: translateX(25px);
}
.ShoppingList .ulPlant .plant .price {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  background-color: #31b572;
  border-radius: 10px 20px 10px;
  position: relative;
  left: 200px;
  bottom: 205px;
  transition: transform 0.2s ease-in-out;
}
.ShoppingList .ulPlant .plant button {
  margin-top: 5px;
  width: 100px;
  height: 30px;
  color: white;
  background-color: #21794C;
  border-radius: 10px;
  border: none;
}
.ShoppingList .ulPlant .plant button:hover {
  font-weight: 600;
}

.footer {
  padding: 32px 0;
  text-align: center;
  border-top: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
.footer .title {
  font-size: 18px;
}
.footer .mail {
  margin-top: 5px;
  width: 200px;
  height: 25px;
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
