@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.banner {
  color: black;
  text-align: right;
  padding: 25px;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.banner .burgerContainer {
  display: none;
}
.banner .titleBanner {
  display: flex;
  flex-direction: row-reverse;
}
.banner .titleBanner .logo-banner {
  height: 45px;
  width: 45px;
}
.banner .titleBanner .title-banner {
  padding-left: 16px;
}

.cart {
  position: relative;
  color: white;
  padding: 10px;
  background-color: #31b572;
  width: 28vw;
  max-width: 230px;
  min-width: 150px;
}
.cart .title-cart {
  padding-bottom: 15px;
}
.cart .ul-cart {
  margin-left: 10px;
  line-height: 1.5;
}
.cart .element {
  opacity: 0;
  margin-left: 5px;
}
.cart span:hover .element {
  opacity: 1;
}
.cart .total-cart {
  padding-top: 15px;
}
.cart .valid {
  margin-top: 15px;
  padding: 5px;
  width: 150px;
  height: 35px;
  color: white;
  background-color: #31b572;
  border-radius: 10px;
  border: 2px solid white;
}
.cart .valid:hover {
  font-weight: 600;
}
.cart .clear {
  margin-top: 5px;
  padding: 5px;
  width: 125px;
  height: 35px;
  color: white;
  background-color: #31b572;
  border: none;
}
.cart .clear:hover {
  font-weight: 600;
}
.cart .login {
  position: absolute;
  bottom: 30px;
  left: 10px;
  display: flex;
  flex-direction: column;
}
.cart .login .sentence {
  width: 220px;
  margin-bottom: 10px;
  font-weight: 700;
}
.cart .login .connect {
  position: relative;
  height: 35px;
  width: 150px;
  border-radius: 10px;
  background-color: #31b572;
  border: 2px solid white;
  font-size: 16px;
  color: white;
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Ajout d'un espace entre le texte et l'icône */
}
.cart .login .connect::before {
  content: "";
  position: absolute;
  height: 35px;
  width: 180px;
  border-radius: 10px;
  background-color: white;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 1;
}
.cart .login .connect:hover::before {
  transform: translateX(0);
}
.cart .login .connect:hover {
  color: #31b572;
  width: 180px;
}
.cart .login .connect .arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  color: #31b572;
  transform: translateX(-100px); /* Place initiale de la flèche hors du bouton */
  opacity: 0; /* Rend la flèche invisible par défaut */
  transition: transform 0.5s ease, opacity 0.3s ease;
}
.cart .login .connect:hover .arrow {
  transform: translateX(50px); /* Déplace la flèche dans le bouton */
  opacity: 1; /* Rend la flèche visible */
  z-index: 1;
}

.ShoppingList {
  margin-left: 30px;
  min-height: 850px;
  width: 100%;
}
.ShoppingList .title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
}
.ShoppingList .category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
  gap: 30px;
}
.ShoppingList .category .selectCategory {
  margin-top: 10px;
  padding-left: 10px;
  height: 30px;
  color: white;
  font-weight: 600;
  background-color: #21794C;
  border-radius: 10px;
  border: none;
}
.ShoppingList .category button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  color: white;
  background-color: #21794C;
  border-radius: 10px;
  border: none;
}
.ShoppingList .category button:hover {
  font-weight: 600;
}
.ShoppingList .ulPlant {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  right: 40px;
  top: 40px;
}
.ShoppingList .ulPlant .plant {
  margin: 5px 30px 50px 30px;
  display: flex;
  flex-direction: column;
}
.ShoppingList .ulPlant .plant .plantContainer {
  position: relative;
}
.ShoppingList .ulPlant .plant .plantContainer:hover .imagePlant {
  width: 275px;
}
.ShoppingList .ulPlant .plant .plantContainer:hover .price {
  transform: translateX(25px);
}
.ShoppingList .ulPlant .plant .plantContainer:hover .details {
  opacity: 1;
  visibility: visible;
}
.ShoppingList .ulPlant .plant .plantContainer .imagePlant {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  margin-bottom: -45px;
  object-fit: cover;
  transition: width 0.2s ease-in-out;
}
.ShoppingList .ulPlant .plant .plantContainer .price {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  background-color: #31b572;
  border-radius: 10px 20px 10px;
  position: relative;
  left: 200px;
  bottom: 209px;
  transition: transform 0.2s ease-in-out;
  z-index: 1;
}
.ShoppingList .ulPlant .plant .plantContainer .details {
  height: 250px;
  width: 275px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
  font-size: 24px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  pointer-events: none;
  z-index: 2;
}
.ShoppingList .ulPlant .plant .plantContainer .details a {
  pointer-events: auto;
  color: inherit;
  text-decoration: none;
}
.ShoppingList .ulPlant .plant button {
  margin-top: 5px;
  width: 100px;
  height: 30px;
  color: white;
  background-color: #21794C;
  border-radius: 10px;
  border: none;
}
.ShoppingList .ulPlant .plant button:hover {
  font-weight: 600;
}

.footer {
  padding: 32px 0;
  text-align: center;
  border-top: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
.footer .title {
  font-size: 18px;
}
.footer .mail {
  margin-top: 5px;
  width: 200px;
  height: 25px;
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.page {
  min-height: 850px;
}
.page .mainImage img {
  height: 500px;
  width: 500px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 50px;
}
.page .container .top {
  display: flex;
}
.page .container .top .hook {
  margin: 50px;
  position: absolute;
  right: 150px;
  top: 150px;
  width: 800px;
}
.page .container .top .hook span {
  font-size: 40px;
}
.page .container .top .hook .titlePrice {
  margin-bottom: 75px;
}
.page .container .top .hook .titlePrice h1 {
  color: #1D5E3C;
  font-size: 32px;
  font-weight: 600;
}
.page .container .top .hook .titlePrice p {
  color: #21794C;
  font-size: 24px;
  font-weight: 500;
}
.page .container .top .hook .sunInfo, .page .container .top .hook .waterInfo {
  display: flex;
  margin-bottom: 20px;
}
.page .container .top .hook .sunInfo p, .page .container .top .hook .waterInfo p {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 0 5px;
}
.page .container .top .hook .didUKnow {
  margin-top: 100px;
}
.page .container .top .hook .didUKnow .title {
  color: #21794C;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.page .container .top .hook .didUKnow .text {
  font-size: 18px;
  font-weight: 500;
}
.page .container .bottom {
  display: flex;
  gap: 100px;
}
.page .container .bottom .left {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
.page .container .bottom .left p {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.page .container .bottom .left .selectPlant {
  display: flex;
  align-items: center;
}
.page .container .bottom .left .selectPlant .ulContaint {
  margin: 0 20px;
}
.page .container .bottom .left .selectPlant .ulContaint ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.page .container .bottom .left .selectPlant .ulContaint ul img {
  height: 150px;
  width: 150px;
  border-radius: 5px;
}
.page .container .bottom .left .selectPlant .ulContaint ul img:hover {
  transform: scale(1.1);
}
.page .container .bottom .right {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}
.page .container .bottom .right .quantityButton {
  display: flex;
}
.page .container .bottom .right .quantityButton .less, .page .container .bottom .right .quantityButton .more {
  height: 100px;
  width: 100px;
  background-color: black;
  border: none;
  color: white;
  font-size: 32px;
}
.page .container .bottom .right .quantityButton .less:hover, .page .container .bottom .right .quantityButton .more:hover {
  font-size: 36px;
}
.page .container .bottom .right .quantityButton p {
  height: 100px;
  width: 150px;
  background-color: white;
  border: 2px solid black;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .container .bottom .addCart .addCartButton {
  width: 350px;
  height: 100px;
  border: 2px solid #21794C;
  border-radius: 15px;
  color: #21794C;
  background-color: white;
  font-size: 32px;
}
.page .container .bottom .addCart .addCartButton:hover {
  font-weight: 600;
}

.page2 .title1 {
  display: flex;
  justify-content: center;
  margin: 10px 0 0 20px;
}
.page2 .emptyCard {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 10px;
}
.page2 .reviewOrder .ulReview {
  display: flex;
  justify-content: center;
  width: 105%;
  flex-wrap: wrap;
  list-style: none;
}
.page2 .reviewOrder .ulReview .review {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.page2 .reviewOrder .ulReview .review .imagePlant {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}
.page2 .reviewOrder .ulReview .review span {
  margin-bottom: 5px;
}
.page2 .reviewOrder .ulReview .review button {
  margin: 5px 0 0 20px;
  display: flex;
  padding: 5px;
  width: 150px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to left, #2a8556 0%, #1D5E3C 100%);
}
.page2 .reviewOrder .ulReview .review button:hover {
  font-weight: 700;
}
.page2 .order_form {
  display: flex;
  gap: 200px;
  align-items: center;
  margin: 20px 0 50px 200px;
}
.page2 .order_form h2 {
  font-size: 24px;
  color: #1D5E3C;
}
.page2 .order_form .orderSummary .container {
  margin: 10px;
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 20px;
}
.page2 .order_form .orderSummary .container .title2 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #1D5E3C;
}
.page2 .order_form .orderSummary .container .article, .page2 .order_form .orderSummary .container .tax, .page2 .order_form .orderSummary .container .totale {
  display: flex;
  gap: 250px;
  margin-bottom: 20px;
}
.page2 .order_form .orderSummary .container .article .priceTax, .page2 .order_form .orderSummary .container .tax .priceTax, .page2 .order_form .orderSummary .container .totale .priceTax {
  position: relative;
  left: 15px;
}
.page2 .order_form .orderSummary .container .article .totalPrice, .page2 .order_form .orderSummary .container .tax .totalPrice, .page2 .order_form .orderSummary .container .totale .totalPrice {
  position: relative;
  right: 5px;
}
.page2 .order_form .paye .formulaire {
  display: flex;
  gap: 75px;
}
.page2 .order_form .paye .formulaire .payment {
  margin-top: 20px;
}
.page2 .order_form .paye .formulaire .name, .page2 .order_form .paye .formulaire .email, .page2 .order_form .paye .formulaire .adress, .page2 .order_form .paye .formulaire .ville, .page2 .order_form .paye .formulaire .pays, .page2 .order_form .paye .formulaire .codePostale,
.page2 .order_form .paye .formulaire .cardAccepte, .page2 .order_form .paye .formulaire .nameCard, .page2 .order_form .paye .formulaire .numberCard, .page2 .order_form .paye .formulaire .expDate, .page2 .order_form .paye .formulaire .crypto {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 300px;
}
.page2 .order_form .paye .formulaire .name span, .page2 .order_form .paye .formulaire .email span, .page2 .order_form .paye .formulaire .adress span, .page2 .order_form .paye .formulaire .ville span, .page2 .order_form .paye .formulaire .pays span, .page2 .order_form .paye .formulaire .codePostale span,
.page2 .order_form .paye .formulaire .cardAccepte span, .page2 .order_form .paye .formulaire .nameCard span, .page2 .order_form .paye .formulaire .numberCard span, .page2 .order_form .paye .formulaire .expDate span, .page2 .order_form .paye .formulaire .crypto span {
  margin-bottom: 5px;
}
.page2 .order_form .paye .formulaire .name input, .page2 .order_form .paye .formulaire .email input, .page2 .order_form .paye .formulaire .adress input, .page2 .order_form .paye .formulaire .ville input, .page2 .order_form .paye .formulaire .pays input, .page2 .order_form .paye .formulaire .codePostale input,
.page2 .order_form .paye .formulaire .cardAccepte input, .page2 .order_form .paye .formulaire .nameCard input, .page2 .order_form .paye .formulaire .numberCard input, .page2 .order_form .paye .formulaire .expDate input, .page2 .order_form .paye .formulaire .crypto input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid grey;
}
.page2 .order_form .paye .formulaire .name .card, .page2 .order_form .paye .formulaire .email .card, .page2 .order_form .paye .formulaire .adress .card, .page2 .order_form .paye .formulaire .ville .card, .page2 .order_form .paye .formulaire .pays .card, .page2 .order_form .paye .formulaire .codePostale .card,
.page2 .order_form .paye .formulaire .cardAccepte .card, .page2 .order_form .paye .formulaire .nameCard .card, .page2 .order_form .paye .formulaire .numberCard .card, .page2 .order_form .paye .formulaire .expDate .card, .page2 .order_form .paye .formulaire .crypto .card {
  display: flex;
  gap: 30px;
}
.page2 .order_form .paye .formulaire .name .card .cartItem, .page2 .order_form .paye .formulaire .email .card .cartItem, .page2 .order_form .paye .formulaire .adress .card .cartItem, .page2 .order_form .paye .formulaire .ville .card .cartItem, .page2 .order_form .paye .formulaire .pays .card .cartItem, .page2 .order_form .paye .formulaire .codePostale .card .cartItem,
.page2 .order_form .paye .formulaire .cardAccepte .card .cartItem, .page2 .order_form .paye .formulaire .nameCard .card .cartItem, .page2 .order_form .paye .formulaire .numberCard .card .cartItem, .page2 .order_form .paye .formulaire .expDate .card .cartItem, .page2 .order_form .paye .formulaire .crypto .card .cartItem {
  color: #1D5E3C;
}
.page2 .order_form .paye .formulaire .cardAccepte, .page2 .order_form .paye .formulaire .nameCard, .page2 .order_form .paye .formulaire .numberCard, .page2 .order_form .paye .formulaire .expDate, .page2 .order_form .paye .formulaire .crypto {
  margin-bottom: 35px;
}
.page2 .order_form .submit {
  display: flex;
  margin: 20px 0 0 300px;
  padding: 5px;
  width: 170px;
  height: 40px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to left, #2a8556 0%, #1D5E3C 100%);
}
.page2 .order_form .submit:hover {
  font-weight: 700;
}

.loginPage {
  background-color: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 1620px;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 98px;
  left: 230px;
  z-index: 2000;
}
.loginPage .container {
  position: relative;
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  /* Par défaut, la section Sign Up est cachée */
  /* Quand Sign Up est active */
}
.loginPage .container form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.loginPage .container .toggleButton {
  background-color: white;
  border: none;
  color: #21794C;
  font-size: 14px;
  font-weight: 700;
  margin-left: 3px;
}
.loginPage .container .close-button {
  margin: 10px 35%;
  height: 25px;
  width: 100px;
  color: white;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to left, #2a8556 0%, #1D5E3C 100%);
}
.loginPage .container h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.loginPage .container input {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}
.loginPage .container .signIn, .loginPage .container .signUp {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: white;
  transition: transform 0.1s ease-in-out;
}
.loginPage .container .signUp {
  transform: translateX(100%);
  opacity: 0;
}
.loginPage .container .signUp.active {
  z-index: 10;
  transform: translateX(0);
  opacity: 1;
}
.loginPage .container .connectButton {
  height: 30px;
  width: 150px;
  margin: 10px auto;
  color: white;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to left, #2a8556 0%, #1D5E3C 100%);
}
.loginPage .container p {
  margin: 10px 0;
}

@media screen and (max-width: 500px) {
  .banner {
    align-items: center;
  }
  .banner a {
    color: inherit;
  }
  .banner .burgerContainer {
    display: flex;
  }
  .banner .burgerContainer .burgerMenu {
    font-size: 32px;
    color: #1D5E3C;
    position: relative;
    right: 50px;
    cursor: pointer;
    z-index: 1001;
  }
  .banner .titleBanner .title-banner {
    font-size: 24px;
  }
  .cart {
    position: absolute;
    top: 98px;
    left: 0;
    height: 75vh;
    background-color: rgba(29, 94, 60, 0.5);
    border-radius: 0 0 10px 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    display: none;
  }
  .cart.active {
    display: block;
    transform: translateX(0);
  }
  .cart .valid {
    width: 130px;
    background-color: rgba(29, 94, 60, 0.5);
  }
  .cart .clear {
    background-color: rgba(29, 94, 60, 0);
  }
  .cart .login .sentence {
    font-size: 14px;
    width: 140px;
  }
  .cart .login .connect {
    position: relative;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background-color: rgba(29, 94, 60, 0.5);
    border: 2px solid white;
    font-size: 12px;
    color: white;
    z-index: 2;
    transition: all 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Ajout d'un espace entre le texte et l'icône */
  }
  .cart .login .connect::before {
    content: "";
    position: absolute;
    height: 35px;
    width: 130px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 1;
  }
  .cart .login .connect:hover::before {
    transform: translateX(0);
  }
  .cart .login .connect:hover {
    color: rgba(29, 94, 60, 0.5);
    width: 130px;
  }
  .cart .login .connect .arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    color: rgba(29, 94, 60, 0.5);
    transform: translateX(-100px); /* Place initiale de la flèche hors du bouton */
    opacity: 0; /* Rend la flèche invisible par défaut */
    transition: transform 0.5s ease, opacity 0.3s ease;
  }
  .cart .login .connect:hover .arrow {
    transform: translateX(50px); /* Déplace la flèche dans le bouton */
    opacity: 1; /* Rend la flèche visible */
    z-index: 1;
  }
  .ShoppingList {
    max-width: 225px;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
  }
  .ShoppingList .category {
    justify-content: flex-start;
    width: 220px;
    gap: 20px;
  }
  .ShoppingList .category .selectCategory {
    width: 100px;
  }
  .ShoppingList .category button {
    width: 100px;
  }
  .ShoppingList .ulPlant {
    right: 20px;
  }
  .ShoppingList .ulPlant .plant .imagePlant {
    height: 200px;
    width: 200px;
    margin-bottom: -35px;
  }
  .ShoppingList .ulPlant .plant .imagePlant:hover {
    width: 200px;
  }
  .ShoppingList .ulPlant .plant .imagePlant:hover ~ .price {
    transform: translateX(25px);
  }
  .ShoppingList .ulPlant .plant .price {
    height: 40px;
    width: 40px;
    left: 160px;
    bottom: 155px;
  }
  .page {
    min-height: none;
    max-width: 410px;
  }
  .page .mainImage {
    margin-top: 50px;
  }
  .page .mainImage img {
    width: 325px;
    height: 325px;
    margin: 45px;
  }
  .page .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .page .container .top {
    flex-direction: column;
    justify-content: center;
  }
  .page .container .top .hook {
    text-align: center;
    margin: 25px 25px;
    position: relative;
    top: -50px;
    right: 0;
    width: 375px;
  }
  .page .container .top .hook span {
    font-size: 32px;
  }
  .page .container .top .hook .titlePrice {
    margin-bottom: 50px;
    position: relative;
    bottom: 825px;
    right: 5px;
  }
  .page .container .top .hook .titlePrice h1 {
    font-size: 32px;
  }
  .page .container .top .hook .titlePrice p {
    font-size: 24px;
  }
  .page .container .top .hook .sunInfo, .page .container .top .hook .waterInfo {
    margin-bottom: 20px;
    width: 350px;
  }
  .page .container .top .hook .sunInfo p, .page .container .top .hook .waterInfo p {
    font-size: 16px;
    margin: 10px 0 0 5px;
    text-align: center;
  }
  .page .container .top .hook .didUKnow {
    margin: 50px 10px 50px 0;
  }
  .page .container .top .hook .didUKnow .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .page .container .top .hook .didUKnow .text {
    font-size: 18px;
  }
  .page .container .bottom {
    flex-direction: column;
    gap: 20px;
  }
  .page .container .bottom .left {
    width: auto;
    margin-left: 5px;
  }
  .page .container .bottom .left p {
    margin-left: auto;
  }
  .page .container .bottom .left .selectPlant .ulContaint {
    margin-left: 30px;
  }
  .page .container .bottom .left .selectPlant .ulContaint ul img {
    height: 100px;
    width: 100px;
  }
  .page .container .bottom .left p {
    margin-right: 70px;
  }
  .page .container .bottom .right {
    width: 100vw;
    flex-direction: column;
    margin: 20px 0;
    gap: 50px;
  }
  .page .container .bottom .right .quantityButton .less, .page .container .bottom .right .quantityButton .more {
    height: 75px;
    width: 75px;
    font-size: 32px;
  }
  .page .container .bottom .right .quantityButton .less:hover, .page .container .bottom .right .quantityButton .more:hover {
    font-size: 36px;
  }
  .page .container .bottom .right .quantityButton p {
    height: 75px;
    width: 125px;
    font-size: 32px;
  }
  .page .container .bottom .right .addCart .addCartButton {
    width: 300px;
    height: 75px;
    font-size: 32px;
  }
  .page2 {
    max-width: 350px;
  }
  .page2 .title1 {
    font-size: 24px;
  }
  .page2 .emptyCard {
    font-size: 16px;
  }
  .page2 .reviewOrder .ulReview {
    width: 110%;
  }
  .page2 .reviewOrder .ulReview .review {
    margin: 7px;
  }
  .page2 .reviewOrder .ulReview .review .imagePlant {
    height: 100px;
    width: 100px;
  }
  .page2 .reviewOrder .ulReview .review button {
    margin: 5px;
    width: 100px;
  }
  .page2 .order_form {
    flex-direction: column;
    gap: 50px;
    margin: 20p 0 50px 200px;
  }
  .page2 .order_form h2 {
    font-size: 20px;
  }
  .page2 .order_form .orderSummary .container {
    margin-left: -150px;
  }
  .page2 .order_form .orderSummary .container .title2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .page2 .order_form .orderSummary .container .article, .page2 .order_form .orderSummary .container .tax, .page2 .order_form .orderSummary .container .totale {
    gap: 150px;
  }
  .page2 .order_form .paye {
    max-width: 375px;
    margin-left: -100px;
  }
  .page2 .order_form .paye .formulaire {
    flex-direction: column;
    gap: 50px;
  }
  .page2 .order_form .submit {
    position: relative;
    right: 225px;
  }
  .loginPage {
    width: 412px;
    max-height: 3637px;
    left: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: row;
}

a {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
