
.banner{
    color: black;
    text-align: right;
    padding: 25px;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    .burgerContainer{
        display: none;
    }

    .titleBanner{
        display: flex;
        flex-direction: row-reverse;

        .logo-banner{
            height: 45px;
            width: 45px;
        }

        .title-banner{
            padding-left: 16px;
        }
    }
}