@import 'mixing.scss';

@media screen  and (max-width: 500px) {
    .banner{
        align-items: center;
        
        a{
            color: inherit;
        }

        .burgerContainer{
            display: flex;

            .burgerMenu{
                font-size: 32px;
                color: #1D5E3C;
                position: relative;
                right: 20px;
                cursor: pointer;
                z-index: 1001; // S'assure qu'il est au-dessus du cart pour le clic
            } 
        }

        .titleBanner{
            .title-banner{
                font-size: 24px;
            }
        } 
    }
    
    .cart {
        position: absolute;
        top: 112px;
        left: 0;
        height: 90vh;
        background-color: rgba(29, 94, 60, 0.5);
        border-radius: 0 0 10px 0;
        transform: translateX(100%); // Cache le cart hors de l'écran au début
        transition: transform 0.3s ease; // Transition pour l'animation d'apparition
        z-index: 1000; // S'assure qu'il est au-dessus des autres éléments
        display: none;
        
        &.active {
            display: block;
            transform: translateX(0); // Fait apparaître le cart lors du clic
        }

        .valid{
            width: 130px;
            background-color: rgba(29, 94, 60, 0.5); 
        }

        .clear{
            background-color: rgba(29, 94, 60, 0);
            
        }

        .login{

            .sentence{
                font-size: 14px;
                width: 140px;
            }

            @include arrowButtonBurger;
        }
    }

    .ShoppingList{
        max-width: 225px;
        display: flex;
        flex-direction: column;
        margin-left: 25%;  

        .category{
            justify-content: flex-start;
            width: 220px;
            gap: 20px;
            
            .selectCategory{
                width: 100px;
            }

            button{
                width: 100px;
            }
        }

        .ulPlant{
            right: 20px;
            .plant{
                .imagePlant{
                    height: 200px;
                    width: 200px;
                    margin-bottom: -35px;

                    &:hover{
                        width: 200px;

                        ~.price{
                            transform: translateX(25px);
                        }
                    }
                }

                .price{
                    height: 40px;
                    width: 40px;
                    left: 160px;
                    bottom: 155px;
                }
            }
        }
    }
    .page{
        min-height: none;

        .mainImage{
            margin-top: 50px;
            img{
                width: 325px;
                height: 325px;
                margin: 25px;
            }
        }

        .container{
            display: flex;
            flex-direction: column-reverse;

            .top{
                flex-direction: column;
                justify-content: center;
                
                .hook{
                    text-align: center;
                    margin: 25px 5px;
                    position: relative;
                    top: -50px;
                    right: 0;
                    width: 400px;
                
                    span{
                        font-size: 32px;
                    }

                    .titlePrice{
                        margin-bottom: 50px;
                        position: relative;
                        bottom: 800px;
                        left: -20px;

                        h1{
                            font-size: 32px;
                        }

                        p{
                            font-size: 24px;
                        }
                    }

                    .sunInfo, .waterInfo{
                        margin-bottom: 20px;
                        width: 350px;

                        p{
                            font-size: 16px;
                            margin: 10px 0 0 5px;
                            text-align: center;
                        }
                    }

                    .didUKnow{
                        margin: 50px 30px 50px 0;
                        
                        .title{
                            font-size: 24px;
                            margin-bottom: 10px;
                        } 

                        .text{
                            font-size: 18px;
                        }
                    }
                }
            }

            .bottom{
                flex-direction: column;
                gap: 20px;

                .left{
                    width: auto;
                    margin-left: 5px;

                    p{
                        margin-left: auto;
                    }

                    .selectPlant{
                        .ulContaint{
                            margin-left: 10px;
                            ul{
                                img{
                                    height: 100px;
                                    width: 100px;
                                }
                            }
                            
                        } 
                    }
                    p{
                        margin-right: 100px;
                    }
                }

                .right{
                    width: 100vw;
                    flex-direction: column;
                    margin: 20px 0;
                    gap: 50px;

                    .quantityButton{

                        .less, .more{
                            height: 75px;
                            width: 75px;
                            font-size: 32px;

                            &:hover{
                                font-size: 36px;
                            }
                        }

                        p{
                            height: 75px;
                            width: 125px; 
                            font-size: 32px; 
                        }
                    }

                    .addCart{
                        .addCartButton{
                            width: 300px;
                            height: 75px;
                            font-size: 32px;
                        }
                    }
                }
            }
        }
    }

    .page2{
        max-width: 350px;

        .title1{
            font-size: 24px;
        }

        .emptyCard{
            font-size: 16px;
        }

        .reviewOrder{
            .ulReview{
                width: 110%;

                .review{
                    margin: 7px;

                    .imagePlant{
                        height: 100px;
                        width: 100px;
                    }

                    button{
                        margin: 5px;
                        width: 100px;
                    }
                }
            }
        }
    
        .order_form{
            flex-direction: column;
            gap: 50px;
            margin: 20p 0 50px 200px;

            h2{
                font-size: 20px;
            }

            .orderSummary{
                .container{
                    margin-left: -150px;

                    .title2{
                        font-size: 20px;
                        margin-bottom: 20px;
                    }

                    .article, .tax, .totale{
                        gap: 150px;


                    }
                }
            }

            .paye{
                .formulaire{
                    flex-direction: column;
                    gap: 50px;
                }
            }

            .submit{
                position: relative;
                right: 225px;
            }
        } 
    }

    .loginPage{
        width: 380px;
        max-height: 3637px;
        left: 0;
    }   
}