@use 'banner.scss';
@use 'cart.scss';
@use 'shoppingList.scss';
@use 'footer.scss';
@use 'plantDetail.scss';
@use 'plantPaye.scss';
@use 'login.scss';
@use 'responsive500.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: row;
}

a{
    color: inherit;
}